.head 
  p MY STORY
.text.paragraph
  p I have worked so many dead-end jobs, it's painful. 2-years ago I filed seven W2s on my taxes. For the last year-and-half, I've worked at a spray foam insulation company. Averaging close to 60-hours per week and being physically exhausted every day did not leave much time to spend with my wife and son, and less time to go rock climbing. Not to mention we were still living paycheck to paycheck. My brother heard about a school called The Iron Yard promising it could make someone an employable developer in 3-months. I have long desired to go back to college, but I didn't want to miss 2-4 years of my son growing up, or 10-years like I had watched my mom go through when I was a kid. Three months; I can do that, I thought. The challenge that is The Iron Yard far surpassed my expectations and it has taken everything inside of me to push through and I am so glad I did. I am excited to start a real career and I am looking forward to learning and honing my skills as a developer.
